@{
    ViewData["Title"] = "Reset Password";
}

<!-- Hiển thị thông báo lỗi nếu có -->
@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
<!-- Hiển thị thông báo thành công nếu có -->
@if (!string.IsNullOrEmpty(ViewData["SuccessMessage"]?.ToString()))
{
    <div class="alert alert-success">
        @ViewData["SuccessMessage"]
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("resetForm").style.display = "none";
        });
    </script>
}
<!-- Hiển thị form nếu không có lỗi và không phải là lỗi hết hạn -->
@if (string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
{
    <form id="resetForm" asp-action="Reset-Password" method="post">
        <input type="hidden" />
        <input type="hidden" name="token" value="@ViewData["token"]" />

        <div class="form-group">
            <label asp-for="newPassword">Mật khẩu mới</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" />
            <span class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Thiết lập lại mật khẩu</button>
    </form>
}
